.cards{
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1.5rem;
   padding: 20px;

}

.cards>img{
    transform: scale(1.2);
}
@media screen and (max-width: 480px){
    .card{
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }