.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    top: 0;
    margin-top: 1.2rem;
}

.navbar_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;
}

.my_name {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    position: relative;
}

.nav_links {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 2rem;
    margin: 0;
}

.nav_links li {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: bold;
}

.nav_links li:hover {
    color: var(--darkGreen);
}

.menu_btn {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
}

.nav_links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 10;
    width: 200px;
}

.nav_links.open li {
    padding: 0.5rem 0;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .menu_btn {
        display: block;
    }

    .nav_links {
        display: none;
    }
}