.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
  }
  .f_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 16rem;
    gap: 4rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
  .f_icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width: 480px){
    .f_content{
      width: 100%;
      transform: scale(.5);
    }
  }